<a href="https://colab.research.google.com/github/Shreaj11/TakeoBDS41/blob/main/BDS41_08DEC2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
student_lst1=[98,90,87,80,76,70,65,60,54,50,43,40]
for i in student_lst1:
  print('percetage',i)
  if i >=85:
    print('Passed with First Class Distinction')
  elif i >=60:
    print('Passes with First ')
  elif i >=40:
    print('Passes with Second class ')
  else:
    print('Better Luck Next time')

percetage 98
Passed with First Class Distinction
percetage 90
Passed with First Class Distinction
percetage 87
Passed with First Class Distinction
percetage 80
Passes with First
percetage 76
Passes with First
percetage 70
Passes with First
percetage 65
Passes with First
percetage 60
Passes with First
percetage 54
Passes with Second class
percetage 50
Passes with Second class
percetage 43
Passes with Second class
percetage 40
Passes with Second class

In [ ]:
student_lst1=[98,90,87,80,76,70,65,60,54,50,43,40]
for i in student_lst1:
  print('percetage',i)
  if i >=85:
    print('Passed with First Class Distinction')
  elif i >=60:
    print('Passes with First ')
  elif i >=40:
    print('Passes with Second class ')
  else:
    print('Better Luck Next time')

In [8]:
for i in range(10): #0,1
  for j in range(10): #0..9,0...9,
    print('*',end =' ')
  print('\n')

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

In [26]:
for i in range(10):
  for j in range(i+1):
    print('*',end =' ')
  print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [36]:
for i in range(10): #0..9
  for j in range(10-i): # 10..1
    print('',end =' ')
  for k in range(i+1):
    print('*',end=' ')
  print('')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [45]:
for i in range(10):
  for j in range(10-i):
    print('', end=' ')
  for k in range(i+1):
    print('*',end=' ')
  print('')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [4]:
from os import supports_bytes_environ
student_name =['Ram','Shyam','Shiv','Shankar']
student_sub = ['Eng','Math','Science','So.Sci','PT']
student_marks_1=[[98,87,76,65,54],
                [45,54,56,57,78],
                [78,76,78,79,75],
                 [56,56,67,78,89]
                 ]


for i in student_name:
  sub_tot=0
  for j in student_marks_1:
    sub_tot +=j
  print(i, 'achieved',sub_tot,'marks.')

Ram achieved 380 marks.

In [63]:
i = 0
while i <10:
  j = 0
  while j < 10:
   print('*' , end =' ')
   j+=1
  print('')
  i+=1

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [64]:
i = 0
while i <10:
  j = 0
  while j < 20:
   print('*' , end =' ')
   j+=1
  print('')
  i+=1

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

In [65]:
i = 0
while i <10:
  j = 0
  while j < i+1:
   print('*' , end =' ')
   j+=1
  print('')
  i+=1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
i = 0
while i <10:
  j = 0
  while j < 10-i
  while j < i+1:
   print('*' , end =' ')
   j+=1
  print('')
  i+=1

In [92]:
i = 0

while i < 10:

    j=0
    while j < 10:

        print('[',i,'-',j ,']', end='')
        j+=1
    print()
    i+=1

[ 0 - 0 ][ 0 - 1 ][ 0 - 2 ][ 0 - 3 ][ 0 - 4 ][ 0 - 5 ][ 0 - 6 ][ 0 - 7 ][ 0 - 8 ][ 0 - 9 ]
[ 1 - 0 ][ 1 - 1 ][ 1 - 2 ][ 1 - 3 ][ 1 - 4 ][ 1 - 5 ][ 1 - 6 ][ 1 - 7 ][ 1 - 8 ][ 1 - 9 ]
[ 2 - 0 ][ 2 - 1 ][ 2 - 2 ][ 2 - 3 ][ 2 - 4 ][ 2 - 5 ][ 2 - 6 ][ 2 - 7 ][ 2 - 8 ][ 2 - 9 ]
[ 3 - 0 ][ 3 - 1 ][ 3 - 2 ][ 3 - 3 ][ 3 - 4 ][ 3 - 5 ][ 3 - 6 ][ 3 - 7 ][ 3 - 8 ][ 3 - 9 ]
[ 4 - 0 ][ 4 - 1 ][ 4 - 2 ][ 4 - 3 ][ 4 - 4 ][ 4 - 5 ][ 4 - 6 ][ 4 - 7 ][ 4 - 8 ][ 4 - 9 ]
[ 5 - 0 ][ 5 - 1 ][ 5 - 2 ][ 5 - 3 ][ 5 - 4 ][ 5 - 5 ][ 5 - 6 ][ 5 - 7 ][ 5 - 8 ][ 5 - 9 ]
[ 6 - 0 ][ 6 - 1 ][ 6 - 2 ][ 6 - 3 ][ 6 - 4 ][ 6 - 5 ][ 6 - 6 ][ 6 - 7 ][ 6 - 8 ][ 6 - 9 ]
[ 7 - 0 ][ 7 - 1 ][ 7 - 2 ][ 7 - 3 ][ 7 - 4 ][ 7 - 5 ][ 7 - 6 ][ 7 - 7 ][ 7 - 8 ][ 7 - 9 ]
[ 8 - 0 ][ 8 - 1 ][ 8 - 2 ][ 8 - 3 ][ 8 - 4 ][ 8 - 5 ][ 8 - 6 ][ 8 - 7 ][ 8 - 8 ][ 8 - 9 ]
[ 9 - 0 ][ 9 - 1 ][ 9 - 2 ][ 9 - 3 ][ 9 - 4 ][ 9 - 5 ][ 9 - 6 ][ 9 - 7 ][ 9 - 8 ][ 9 - 9 ]