<a href="https://colab.research.google.com/github/Shreaj11/TakeoBDS41/blob/main/BDS41_11DEC2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **Functions**
1. Build in Function
2. User Define Function
3. Lambda Function

https://docs.python.org/3/library/functions.html

In [1]:
print('Welcome to Takeo Data Science Bootcamp - BDS41')

Welcome to Takeo Data Science Bootcamp - BDS41

In [3]:
a = input('Please Enter Your Name')
print('Hello ', a)

Please Enter Your Name Shreaj Nakarmi
Hello  Shreaj Nakarmi

In [ ]:
# Default data type of 'input' function is string

In [5]:
a  = int(input('Marks in Mathematics: '))
b  = int(input('Marks in Science: '))
c  = int(input('Marks in social Science: '))

total = a + b + c
print(total)

Marks in Mathematics: 98
Marks in Science: 88
Marks in social Science: 78
264



# **Python Type casting Functions:**
1. int
2. float
3. complex
3. complex
4. boolean
5. string
6. list
7. tuple
8. set
9. ditionary

In [7]:
a  = float(input('Marks in Mathematics: '))
b  = float(input('Marks in Science: '))
c  = float(input('Marks in social Science: '))

total = a + b + c
print(total)
print(type(total))

Marks in Mathematics: 98.76
Marks in Science: 87.65
Marks in social Science: 76.54
262.95000000000005
<class 'float'>

In [9]:
a  = complex(input('input 1 '))
b  = complex(input('input 2 '))
c  = complex(input('input 3 '))

total = a + b + c
print(total)
print(type(total))

input 1 12+23j
input 2 -23-34j
input 3 34+54j
(23+43j)
<class 'complex'>

In [10]:
var_str1 = 'Python programming'

print(list(var_str1))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [11]:
var_str1 = 'Python programming'

print(tuple(var_str1))

('P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')

In [12]:
var_str1 = 'Python programming'

print(set(var_str1))

{'i', 't', 'g', ' ', 'r', 'h', 'P', 'n', 'p', 'o', 'a', 'y', 'm'}

In [14]:
var_str2 = 'Hello How are You'

print(list(var_str2))

['H', 'e', 'l', 'l', 'o', ' ', 'H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'Y', 'o', 'u']

In [16]:
var_str2 = 'Hello How are You'

print(tuple(var_str2))

('H', 'e', 'l', 'l', 'o', ' ', 'H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'Y', 'o', 'u')

In [15]:
var_str2 = 'Hello How are You'

print(set(var_str2))

{'a', 'u', 'e', ' ', 'r', 'l', 'Y', 'o', 'w', 'H'}

In [19]:
lst1=[(1,'a'),(2,'b')]
print(lst1)
print(dict(lst1))

[(1, 'a'), (2, 'b')]
{1: 'a', 2: 'b'}

In [20]:
lst1=[[1,'a'],[2,'b']]
print(lst1)
print(dict(lst1))

[[1, 'a'], [2, 'b']]
{1: 'a', 2: 'b'}

In [21]:
lst1=((1,'a'),(2,'b'))
print(lst1)
print(dict(lst1))

((1, 'a'), (2, 'b'))
{1: 'a', 2: 'b'}

In [22]:
lst1=([1,'a'],[2,'b'])
print(lst1)
print(dict(lst1))

([1, 'a'], [2, 'b'])
{1: 'a', 2: 'b'}

In [23]:
lst1={(1,'a'),(2,'b')}
print(lst1)
print(dict(lst1))

{(2, 'b'), (1, 'a')}
{2: 'b', 1: 'a'}

In [24]:
lst1=({1,'a'},{2,'b'})
print(lst1)
print(dict(lst1))

({1, 'a'}, {2, 'b'})
{1: 'a', 2: 'b'}

In [25]:
lst1=[{1,'a'},{2,'b'}]
print(lst1)
print(dict(lst1))

[{1, 'a'}, {2, 'b'}]
{1: 'a', 2: 'b'}

In [ ]:
for i in range(0,100,1):
    print('Decimal', i)
    print('Binary',bin(i))
    print('Octa Decimal', oct(i))
    print('Hexa Decimal', hex(i))

In [32]:
for i in range(0,20,1):

    print('Binary',bin(i))

Binary 0b0
Binary 0b1
Binary 0b10
Binary 0b11
Binary 0b100
Binary 0b101
Binary 0b110
Binary 0b111
Binary 0b1000
Binary 0b1001
Binary 0b1010
Binary 0b1011
Binary 0b1100
Binary 0b1101
Binary 0b1110
Binary 0b1111
Binary 0b10000
Binary 0b10001
Binary 0b10010
Binary 0b10011

In [33]:
for i in range(0,20,1):

    print('Octa Decimal', oct(i))

Octa Decimal 0o0
Octa Decimal 0o1
Octa Decimal 0o2
Octa Decimal 0o3
Octa Decimal 0o4
Octa Decimal 0o5
Octa Decimal 0o6
Octa Decimal 0o7
Octa Decimal 0o10
Octa Decimal 0o11
Octa Decimal 0o12
Octa Decimal 0o13
Octa Decimal 0o14
Octa Decimal 0o15
Octa Decimal 0o16
Octa Decimal 0o17
Octa Decimal 0o20
Octa Decimal 0o21
Octa Decimal 0o22
Octa Decimal 0o23

In [35]:
for i in range(0,20,1):

    print('Hexa Decimal', hex(i))

Hexa Decimal 0x0
Hexa Decimal 0x1
Hexa Decimal 0x2
Hexa Decimal 0x3
Hexa Decimal 0x4
Hexa Decimal 0x5
Hexa Decimal 0x6
Hexa Decimal 0x7
Hexa Decimal 0x8
Hexa Decimal 0x9
Hexa Decimal 0xa
Hexa Decimal 0xb
Hexa Decimal 0xc
Hexa Decimal 0xd
Hexa Decimal 0xe
Hexa Decimal 0xf
Hexa Decimal 0x10
Hexa Decimal 0x11
Hexa Decimal 0x12
Hexa Decimal 0x13

In [36]:
help(print) #explain the function

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [45]:
lst1= ['apple','banana','cherries','dates','eggfruit','fig','grapes']

x = iter(lst1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherries
dates
eggfruit
fig
grapes

In [52]:
tup1= ('apple','banana','cherries','dates','eggfruit','fig','grapes')

x = iter(tup1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

apple
banana
cherries
dates
eggfruit
fig
grapes

In [51]:
set1= {'apple','banana','cherries','dates','eggfruit','fig','grapes','banana','cherries','dates','eggfruit','fig','grapes'}

x = iter(set1)

print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

dates
fig
apple
grapes
cherries
eggfruit
banana

In [53]:
str1 = 'python programming'
len(str1)

18

In [54]:
lst1= ['apple','banana','cherries','dates','eggfruit','fig','grapes']
len(lst1)

7

In [57]:
min(lst1)

'apple'

In [58]:
max(lst1)

'grapes'

In [59]:
flt1 = 3.14145123478932
round(flt1)

3

In [60]:
flt1 = 3.59145123478932
round(flt1)

4

In [67]:
lst1 = [1.1, 1.2, 1.307, 1.5, 1.6,1.09,1.306,1.305,1]
sorted(lst1)
print(lst1.sort())
lst1

None

[1, 1.09, 1.1, 1.2, 1.305, 1.306, 1.307, 1.5, 1.6]

In [ ]:
# prompt: lst1 = [1.1, 1.2, 1.307, 1.5, 1.6,1.09,1.306,1.305,1]  sort this list

lst1.sort()